 /* ヘッダーの設定 */
header {
  align-items: center;
  background-color:#ffe4e1;
  display: flex;
  height: 60px;
  padding: 0 20px;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}

header nav {
  display: flex;
}

header ul {
  display: flex;
}

header li:not(:last-child) {
  margin-right: 20px;
}

header a {
  color: #ff1493;
}

.logo {
  font-size: 20px;　 /* ロゴのサイズを変更するよ！ */
}

 /* ヘッダーここまで */

 /* hero画面設定 */
.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  justify-content: center;
  padding-top: 60px;
  background-size: 600% 600%;

  animation: gradient 15s ease infinite;  /* ここで背景の設定をするよ。 秒数を変えてみよう！ */
}

.hero-boxes {
  position: fixed;
  z-index: 0;
  text-align: center;
}

.hero h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 16px;
}

@keyframes gradient {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

 /* hero設定ここまで */

 /* ギャラリー設定 */
.gallery {
  max-width: 935px;
  margin: 0 auto;
  padding-top: 70px;
  position: relative;
  z-index: 1;
  background-color: #fafad2;
}

.gallery-boxes {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
}

.gallery-image {
  width: 293px;
  height: 293px;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: opacity .3s;
}

.gallery-image:hover > a > img {
  opacity: .8;
}

.gallery-image img {
  transition: all .3s;
  border-radius: 2px;
}
 /* ギャラリーここまで */

 body{
   background-color: #fafad2
 }
